input:focus,
select:focus,
textarea:focus,
button:focus {
 outline: none;
}

html * {
 font-family: 'Roboto', sans-serif !important;
}

h1,h2,h3,h4,h5,h6 {
	font-family: "Google Sans", sans-serif !important;
	font-weight: bold;
	letter-spacing: -0.8px;
	color: #353535;
}

p {
	color: #737373;
	font-size: 17px;
}

hr {
	border: solid 1px #f2f2f2;
}

h1 {
	font-size: 38px;
}
h2 {
	font-size: 34px;
}
h3 {
	font-size: 17px;
}

html, body {
 background: #fafafa;
 overflow-x: hidden;
 max-width: 100%;
}

.text-center {
	text-align: center;
}

input.input-field {
	background: #f2f2f2;
	border: 0px;
	-webkit-appearance: none;
}

.container-fluid {
	padding-left:0;
	padding-right:0;
}

.navbar {
  border-color: #fafafa;
  border-width: 0;
  margin-bottom: 0;
}

.navbar-default {
	background-color: #fafafa;
}

.navbar-toggle {
	border: 0px;
}

.navbar-nav li a {
	line-height: 50px;
	height: 50px;
	padding-top: 0;
	padding-bottom: 0;
	color: #737373;
	border-bottom: 1px solid #f2f2f2;
}

.navbar-brand {
	line-height: 86px;
	height: 86px;
	padding: 0 15px;
}
.navbar-brand img {
	display: inline-block;
	height: 36px;
}

.navbar-toggle {
	margin-top: 27px;
	margin-bottom: 0px;
}
#navbar-collapse-1 {
  border-color: #fcfcfc;
  border-width: 0;
}

.top-section {
	text-align: center;
}

.top-section #title {
	margin-top: 54px;
}

.top-section #subtitle {
	margin-top: 30px;
	margin-bottom: 45px;
	padding: 0 15px;
}

.top-section #play-store {
	height: 80px;
}
.top-section #android-user {
	text-decoration: none;
	display: inline-block;
	font-size: 11px;
	font-weight: bold;
	color: #aaaaaa;
	margin-top: 21px;
	margin-bottom: 0px;
	cursor: pointer;
}

.dual-screen {
	margin-top: 25px;
	text-align: center;
}
.dual-screen .smaller {
	display: inline-block;
}
.dual-screen .bigger {
	display: none;
}

.dual-screen img {
	width: 96%;
}

.features {
	margin-top: 33px;
	padding-right: 30px;
	padding-left: 30px;
}

.feature-row .separator {
	border-radius: 2px;
	border: 0;
	height: 7px;
	margin: 0 auto 0 0;
	width: 120px;
}
.feature-row .separator.yellow {
	background: #ffd43f;
}
.feature-row .separator.blue {
	background: #8bd4ce;
}
.feature-row .separator.red {
	background: #ff6158;
}

.feature-row .description {
	text-align: left;
}

.feature-row .description h2 {
	margin-top: 33px;
	margin-bottom: 16px;
}
.feature-row .description p {
	margin-top: 20px;
	margin-bottom: 30px;
}

.feature-row .screen {
	text-align: center;
}
.feature-row img {
	width: 80%;
}

.feature-line {
	height: 1px;
	border: solid 1px #f2f2f2;
}

.comments {
	text-align: center
}

.comments .comment {
	margin-top: 66px;
	margin-bottom: 30px;
	position: relative;
}

.comment #left-confetti {
	position: absolute;
	height: 120%;
	left: -10%;
	top: -50%;
}

.comment #right-confetti {
	position: absolute;
	height: 120%;
	right: -10%;
	top: -50%;
}


footer {
	position: relative;
	z-index: 0;
}

footer .nav-link {
  text-decoration: none;
  font-size: 12px;
  line-height: 30px;
  color: #353535;
}

footer .nav-link img {
	height: 15px;
}
footer {
	padding: 0 0 45px;
}
footer .footer-nav {
	padding-top: 60px;
}
footer .nav-link {
	display: inline-block;
	margin: 0 10px;
}

footer #copyright {
	font-size: 12px;
	margin-top: 30px;
}

@media (min-width: 404px) {
	footer .nav-link {
		font-size: 15px;
	}
}

@media (min-width: 544px) {
	.dual-screen .bigger {
		display: inline-block;
	}
	.dual-screen .smaller {
		display: none;
	}
	.nav-link:not(:first-of-type) {
		margin-left: 15px;
	}

	.features {
		padding-right: 100px;
		padding-left: 100px;
	}
}

@media (min-width: 768px) {
	p {
		font-size: 13px;
	}
	h1 {
	font-size: 34px;
	}
	h2 {
		font-size: 20px;
	}
	h3 {
		font-size: 20px;
	}

	.navbar-brand {
		line-height: 91px;
		height: 91px;
		padding: 0 15px;
	}
	.navbar-brand img {
		height: 31px;
	}
	.navbar-nav li a {
		line-height: 91px;
		height: 91px;
		border-bottom: 0px;
	}
	.top-section #title {
		margin-top: 30px;
	}

	.top-section #subtitle {
		margin-top: 21px;
	}

	.dual-screen {
		margin-top: 51px;
	}
	.dual-screen img {
		width: 70%;
	}

	.feature-row {
		display: flex;
		align-items: center;
	}

	.feature-row img {
		width: 100%;
	}

	.feature-row .separator {
		width: 80px;
	}

	.comments .comment {
		margin-top: 80px;
	}

	.subscribe {
		margin-top: 70px;
	}
}

@media (min-width: 992px) {
	p {
		font-size: 14px;
	}
	h1 {
		font-size: 50px;
	}
	h2 {
		font-size: 24px;
	}
	h3 {
		font-size: 24px;
	}

	.features {
		padding-right: 150px;
		padding-left: 150px;
	}

	.feature-row:not(:first-of-type) {
		margin-top: 35px;
	}
}

@media (min-width: 1200px) {
	p {
		font-size: 16px;
	}
	h1 {
		font-size: 50px;
	}
	h2 {
		font-size: 30px;
	}
	h3 {
		font-size: 30px;
	}

	.navbar-brand {
		line-height: 130px;
		height: 130px;
		padding: 0 15px;
	}
	.navbar-brand img {
		height: 50px;
	}
	.navbar-nav li a {
		line-height: 139px;
		height: 130px;
		border-bottom: 0px;
	}
	.top-section #title {
		margin-top: 20px;
	}

	.features {
		padding-right: 175px;
		padding-left: 175px;
	}

	.feature-row:not(:first-of-type) {
		margin-top: 35px;
	}

	.feature-row img {
		width: 90%;
	}

	.feature-row .separator {
		width: 100px;
	}

	.comments .comment {
		margin-top: 150px;
		margin-bottom: 40px;
		margin-left: auto;
		margin-right: auto;
		max-width: 690px;
	}

	.comments .commentor {
		margin-bottom: 87px;
	}

	.subscribe {
		margin-top: 100px;
	}
}

@media (max-width: 336px) {
	p {
		font-size: 13px;
	}
	h1 {
		font-size: 32px;
	}
	h2 {
		font-size: 25px;
	}
	h3 {
		font-size: 14px;
	}

	.top-section #title {
		margin-top: 48px;
	}

	.top-section #subtitle {
		margin-top: 25px;
		margin-bottom: 40px;
		padding: 0 15px;
	}

	.top-section #play-store {
		height: 30px;
	}

	.dual-screen {
		margin-top: 10px;
	}

	.feature-row img {
		width: 100%;
	}
}

@media (max-width: 543px) {
	
}

@media (max-width: 767px) {

}

@media (max-width: 991px) {

}

@media (max-width: 1199px) {
}